/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* basic set up */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  /* set the size of the header */
  height: 95vh;
  /* set the image background to cover up the whole header with green gradiet on top of it */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)) ,url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* clip a part of the image background */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* set origin */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  /* center the box container */
  position: absolute;
  top: 40%; /* <- in relation to parent element */
  left: 50%; /* <- in relation to parent element */
  transform: translate(-50%, -50%); /* <- in relation to the element itself */
}

.heading-primary {
  color: #fff;
  /* make the text uppercase */
  text-transform: uppercase;
  /* prevent shaky end of animation */
  backface-visibility: hidden;
}

.heading-primary-main {
  /* break/separate the text */
  display: block;
  /* style the text */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  /* fire the animation */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  /* break/separate the text */
  display: block;
  /* style the text */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  /* animation */
  animation: moveInRight 1s ease-out;
}

/* fade in from left animation */
@keyframes moveInLeft {
  0% { /* initial state (before animation starts ) */
    opacity: 0; /* hide the text */
    transform: translateX(-100px);/* move the text to the left */
  }

  80% {
    transform: translateX(10px); /* move the text a little bit to the right from its original position */
  }

  100% { /* final state */
    opacity: 1; /* make the text completaly visable */
    transform: translateX(0); /* text comes back to its original position */
  }
}

/* fade in from right animation */
@keyframes moveInRight {
  0% { /* initial state (before animation starts ) */
    opacity: 0; /* hide the text */
    transform: translateX(100px);/* move the text to the right */
  }

  80% {
    transform: translateX(-10px); /* move the text a little bit to the left from its original position */
  }

  100% { /* final state */
    opacity: 1; /* make the text completaly visable */
    transform: translateX(0); /* text comes back to its original position */
  }
}
