.btn {
  &:link,
  &:visited {
    font-size: $default-font-size;
    /* make the text uppercase */
    text-transform: uppercase;
    /* remove default underline */
    text-decoration: none;
    /* add some padding */
    padding: 1.5rem 4rem;
    /* make it inline-block to apply padding */
    display: inline-block;
    /* round the corners of a button */
    border-radius: 10rem;
    /* animate properties */
    transition: all .2s;
    position: relative;
  }

  &:hover {
    /* move the button up */
    transform: translateY(-3px);
    /* apply subtle shadow */
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      /* make the element bigger */
      transform: scaleX(1.4) scaleY(1.6);
      /* fade element out */
      opacity: 0;
    }
  }

  &:active {
    /* move the button down */
    transform: translateY(-1px); /* not in relation to hover! */
    /* decrease the shadow */
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  /* creates the same element as a button (copy)*/
  &::after { /* will appear as a child of a button */
    content: "";
    display: inline-block;
    height: 100%; /* full height of the button (parent) */
    width: 100%; /* full width of the button (parent)*/
    border-radius: 10rem;
    /* hide it under a button */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* animate */
    transition: all .4s;
  }

  &--animated {
    /* fire up animation */
    animation: moveInBottom .5s ease-out .75s; /* delay : .75s */
    /* automaticaly apply the styles up to zero percent before the animation starts. (without that because we applied delay,
    the button would be visable before the animation starts) */
    animation-fill-mode: backwards;
    /* fix the shaky animation */
    backface-visibility: hidden;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px); // move the buttom up
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0); // move the buttom back to its original position
  }
}
